<nav id="navbar">
    <div id="logo">
        <!-- <img src="" alt="online"> -->
    </div>
    <ul>
        <li class="item"><a href="#home">Home</a></li>
        <li class="item"><a href="#services">DEPARTMENTS & SERVICES</a></li>
        <li class="item "><a href="#clients" >Covid-19 DashBoard</a>
            <!-- nav-item dropdown -->
            <!-- <ul id = "deopdown" class = "dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item">example1</a></li>
                <li><a class="dropdown-item">example2</a></li>
                <li><a class="dropdown-item">example3</a></li>
                <li><a class="dropdown-item">example4</a></li>
                <li><a class="dropdown-item">example5</a></li>
                
            </ul> -->
        </li>
        <li class="item"><a href="#contact">Contact Us</a></li>
        <li class="item"><a href="#contact-box">Register</a></li>
        <li class="item"><a href="#contact-box">Feedback</a></li>
        <div class = "rightContainer">
        <input class="me-2 right" id = "navip" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger me-2 right" type="submit">Search</button>
        <li class="item" class = "right"><a href="#contact-box">Login/SignUp</a></li>
    </div>
        
    </ul>
    
</nav>