<!-- <app-home></app-home> -->
<!-- <app-rooms></app-rooms> -->
<!-- <app-pick-and-drop></app-pick-and-drop> -->

<!-- <app-cancel-pickupanddrop></app-cancel-pickupanddrop> -->
<!-- <app-update-pickupanddrop></app-update-pickupanddrop> -->
<!-- <app-customerlogin></app-customerlogin> -->
<!-- <app-blogs></app-blogs> -->
<!-- <app-demo></app-demo> -->
<!-- <app-edit-customer></app-edit-customer> -->
<!-- <app-update-password></app-update-password> -->
<!-- <app-edit-booking></app-edit-booking> -->
<!-- <app-view-booking-history></app-view-booking-history> -->
<!-- <app-customer-signup></app-customer-signup> -->
<!-- <app-customer-booking-form></app-customer-booking-form> -->
<!-- <app-cancel-booking></app-cancel-booking> -->
<!-- <app-billing></app-billing> -->
<!-- <app-demo></app-demo> -->
<!-- <app-conact></app-conact> -->
<!-- <app-about></app-about> -->
<!-- <app-term-and-condition></app-term-and-condition> -->
<router-outlet></router-outlet>
<!-- <app-navbar></app-navbar> -->

